<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="debugger_p2"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/Debugger_P2/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Debugger_P2"
            name="Sample Category">
      </category>
      <view
            category="Debugger_P2"
            class="debugger_p2.views.TextView"
            icon="icons/icon_diagram.png"
            id="debugger_p2.views.TextView"
            inject="true"
            name="Diagram">
      </view>
      <view
            category="Debugger_P2"
            class="debugger_p2.views.Code_View"
            icon="icons/icon_code.png"
            id="debugger_p2.views.Code_View"
            inject="true"
            name="Code">
      </view>
      
      
      
      
      
      
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="debugger_p2.views.TextView"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="debugger_p2.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            category="debugger_p2.importWizards.sampleCategory"
            class="debugger_p2.importWizards.MyWizard"
            icon="icons/sample.png"
            id="debugger_p2.importWizards.MyWizard"
            name="Import File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
      <category
            id="debugger_p2.importWizards.sampleCategory"
            name="Sample File Import">
      </category>
      <wizard
            category="debugger_p2.importWizards.sampleCategory"
            class="debugger_p2.importWizards.ImportWizard"
            icon="icons/sample.png"
            id="debugger_p2.importWizards.ImportWizard"
            name="Import File">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Debugger_P2.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="Debugger_P2.commands.category"
            id="Debugger_P2.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="debugger_p2.handlers.ButtonHandler"
            commandId="Debugger_P2.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Debugger_P2.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Debugger_P2.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="Debugger_P2.commands.sampleCommand"
                  id="Debugger_P2.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Debugger_P2.toolbars.sampleToolbar">
            <command
                  commandId="Debugger_P2.commands.sampleCommand"
                  icon="icons/sample.png"
                  id="Debugger_P2.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      
      
      
      
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="debugger_p2.perspectives.DiagramPerspective"
            icon="icons/releng_gears.gif"
            id="debugger_p2.perspectives.DiagramPerspective"
            name="Diagram ">
      </perspective>
   </extension>
   
   
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
            targetID="debugger_p2.perspectives.DiagramPerspective">
         <view
               id="debugger_p2.views.Code_View"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
	</extension>
      <extension
            point="org.eclipse.ui.newWizards">
         <category
               id="Debugger_P2"
               name="Sample Wizards">
         </category>

  
      </extension>

</plugin>
